<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS_w7gKq1P1KqudzwzykLSMvGN5eFo8KI</string>
	<key>GCM_SENDER_ID</key>
	<string>640920455388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxart.orange</string>
	<key>PROJECT_ID</key>
	<string>orange-shopping-36d95</string>
	<key>STORAGE_BUCKET</key>
	<string>orange-shopping-36d95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640920455388:ios:3373030a77c652678dcc19</string>
</dict>
</plist>